# local config
config.mk
# auto-built scripts from templates
frontend/container
frontend/container.run
backend/docker
backend/nvidia-docker
login/docker
# suid wrappers
backend/libexec/docker.images
backend/libexec/docker.inspect.cmd
backend/libexec/docker.inspect.entrypoint
backend/libexec/docker.inspect.pid
backend/libexec/docker.ps
backend/libexec/docker.rm
backend/libexec/docker.stop
backend/libexec/nvidia-docker.run
backend/libexec/nvidia-docker.run.ipc_host
backend/libexec/nvidia-docker.run.ipc_host.net_host
backend/libexec/nvidia-docker.run.ipc_host.net_host.tty
backend/libexec/nvidia-docker.run.ipc_host.ports
backend/libexec/nvidia-docker.run.ipc_host.ports.net_host
backend/libexec/nvidia-docker.run.ipc_host.ports.net_host.tty
backend/libexec/nvidia-docker.run.ipc_host.ports.tty
backend/libexec/nvidia-docker.run.ipc_host.tty
backend/libexec/nvidia-docker.run.lustre
backend/libexec/nvidia-docker.run.lustre.finish
backend/libexec/nvidia-docker.run.lustre.init
backend/libexec/nvidia-docker.run.lustre.ipc_host
backend/libexec/nvidia-docker.run.lustre.ipc_host.net_host
backend/libexec/nvidia-docker.run.lustre.ipc_host.net_host.tty
backend/libexec/nvidia-docker.run.lustre.ipc_host.ports
backend/libexec/nvidia-docker.run.lustre.ipc_host.ports.net_host
backend/libexec/nvidia-docker.run.lustre.ipc_host.ports.net_host.tty
backend/libexec/nvidia-docker.run.lustre.ipc_host.ports.tty
backend/libexec/nvidia-docker.run.lustre.ipc_host.tty
backend/libexec/nvidia-docker.run.lustre.net_host
backend/libexec/nvidia-docker.run.lustre.net_host.tty
backend/libexec/nvidia-docker.run.lustre.ports
backend/libexec/nvidia-docker.run.lustre.ports.net_host
backend/libexec/nvidia-docker.run.lustre.ports.net_host.tty
backend/libexec/nvidia-docker.run.lustre.ports.tty
backend/libexec/nvidia-docker.run.lustre.tty
backend/libexec/nvidia-docker.run.net_host
backend/libexec/nvidia-docker.run.net_host.tty
backend/libexec/nvidia-docker.run.ports
backend/libexec/nvidia-docker.run.ports.net_host
backend/libexec/nvidia-docker.run.ports.net_host.tty
backend/libexec/nvidia-docker.run.ports.tty
backend/libexec/nvidia-docker.run.tty
